body {margin: 0;
    width: 100%;
}
.header1 {display: grid;
		  grid-template-areas: "logo . ."
		  						"logo nav nav"
		  						"logo . .";
		  background: #F4E3D7;
		  justify-content: center;
		  column-gap: 80px;
		  position: sticky;
		  margin-top: -0.9vh;
		  padding: 0.8em;
}

.logo {grid-area: logo;
}

.nav1 {grid-area: nav;}

.menu1 {list-style: none;
		display: grid;
		grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
		column-gap: 50px;
		align-content: center;
		color:#693E36;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lista {list-style: none;
    line-height: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tituloli {font-size: 18px;
}

.copyright {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: lighter;
            list-style: none;}

.titulodestaque1 {text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: #FFFFFF;
    background: #663C35;
    padding: 0.8em;
    margin-top: 0;
    padding-bottom: 1em;
    position: sticky;
    margin-bottom: 0.2em;
    padding-top: 6em;
}

form {background: #663C35;
    padding-top: 1em;
    padding-bottom: 4em;
    display: grid;
    justify-content: center;
    margin-bottom: -2vh;      
    margin-top: -2vh; 
}

imput {font-size: 16px;
}

.minidescricao {text-align: center;
                font-family: 'Courier New', Courier, monospace;
                font-size: 16px;
                color: #FFFFFF;
                background: #663C35;
                padding: 0.8em;
                margin-top: -2vh;
                padding-bottom: 15em;
                position: sticky;
                margin-bottom: -1em;    
}

.btnentrar {color: #FFFFFF;
          background: #461C14;
          border: #461C14;
          padding: 0.4em;

}

textarea {font-size: 16px;
}

label {font-family: 'Courier New', Courier, monospace;
     color: #FFFFFF;}

.footer1 {display: grid;
      grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
      background: #BC9E99;
      color: #693E36;
      font-weight: 400;
      padding-top: 2em;
      align-content: center;
}

.redes {column-gap: 0;
}

.titulocategoria {font-size: 18px;}

a:link, a:visited {text-decoration: none;
}

a:hover, a:active {text-decoration: underline;
}

a {color: #693E36;
}

.linkbranco {color: #FFFFFF;
}